# discord bot
TOKEN=your_dc_bot_token
# anti scam image - get your own api at https://ocr.space/ocrapi
OCR_APIKEY=["your ocr api key, this for the detect crypto scam image","apikey 2 etc"]
# snipe - all used for store user deleted etc files
STORAGE_SERVER=put your server id here
STORAGE_CHANNEL=put your channel id